{% extends 'base.html.twig' %}

{% block title %}Galeries photos
{% endblock %}
{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="container">

		<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Galeries photos</h1>

		<hr class="mt-2 mb-5">


		<div
			class="row text-center text-lg-left">
			<!-- Button trigger modal -->
			<div class="col-lg-3 col-md-4 col-6">
				<a data-target="{{path('newPicture')}}" class="tooltipped modal-trigger btn right-align d-block mb-4 h-60" data-tooltip="show" href="#modal1">
					<img class="img-fluid img-thumbnail" src="{{asset('/pictures/icons/add.png')}}" alt="Ajouter une nouvelle photo">
				</a>
			</div>

			{% for picture in pictures %}


				<div class="col-lg-3 col-md-4 col-6">
					<a href="#" class="d-block mb-4 h-100">
						<img class="img-fluid img-thumbnail" src="{{asset(picture.getPathPicture())}}" alt="">
					</a>
				</div>
			{% endfor %}


			<!-- Modal -->
			<div id="modal1" class="modal">
				<div class="modal-dialog" role="document">
					<div class="modal-content"></div>

				</div>
			</div>

		</div>
	</body>
{% endblock %}
{% block javascripts %}
	<script>
		$(document).ready(function () { // On écoute le "click" sur le bouton ayant la classe "modal-trigger"
$('.modal-trigger').click(function () { // On initialise les modales materialize
$('.modal').modal();
// On récupère l'url depuis la propriété "Data-target" de la balise html a
url = $(this).attr('data-target');
// on fait un appel ajax vers l'action symfony qui nous renvoie la vue
$.get(url, function (data) { // on injecte le html dans la modale
$('.modal-content').html(data);
// on ouvre la modale
$('#modal1').modal('open');
});
})
});
	</script>
{% endblock %}
