<div class="modal-header">
	<h5 class="modal-title text-center" id="exampleModalLabel">Ajout d'une slide</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{{ form_start(formSlide, {'action': path('slideNew')}) }}
{{form_row(formSlide.title_slide)}}
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	<button type="submit" class="btn btn-primary">Créer</button>
</div>
{{form_end(formSlide)}}
